[Desktop Entry]
Categories=Settings;
Comment=Installer for Linux GXDE
Exec=deepin-installer-pkexec
Icon=gxde-installer
Name=Install GXDE
StartupNotify=false
Terminal=false
Type=Application
X-Desktop-File-Install-Version=0.21
X-MultipleArgs=false

# Translations
Comment[am]=ለ ሊነክስ መግጠሚያ
Name[am]=መግጠሚያ
Comment[ar]=  تثبيت إلى لينكس دييبن
Name[ar]=تنصيب دييبن
Comment[az]=Linux GXDE üçün quraşdırıcı
Name[az]=GXDE-i Quraşdır
Comment[cs]=Instalátor pro Linux GXDE
Name[cs]=Nainstalovat GXDE
Comment[da]=Installationsprogram for Linux GXDE
Name[da]=Installer GXDE
Comment[de]=Linux GXDE Installationsprogramm
Name[de]=GXDE installieren
Comment[el]=Βοηθός Εγκατάστασης για το Linux GXDE
Name[el]=Εγκατάσταση του GXDE
Comment[es]=Instalador para Linux GXDE
Name[es]=Instalar GXDE
Comment[fi]=Linux GXDE asennusohjelma
Name[fi]=Asenna GXDE
Comment[fr]=Installateur pour Linux GXDE
Name[fr]=Installer GXDE
Comment[es_CL]=Instalar Linux GXDE
Name[es_CL]=Instalar GXDE
Comment[he]=מתקין עבור Linux GXDE
Name[he]=התקן את GXDE
Comment[hr]=Instalacijski program za Linux GXDE
Name[hr]=Instaliraj GXDE
Comment[hu]=Linux GXDE telepítő 
Name[hu]=GXDE telepítése 
Comment[hy]=Linux GXDE-ի տեղադրիչ
Name[hy]=Տեղադրել GXDE
Comment[id]=Installer untuk Linux GXDE
Name[id]=Pasang GXDE
Comment[it]=Installer per GXDE Linux
Name[it]=Installa GXDE OS
Comment[ja]=インストーラー
Name[ja]=インストール
Comment[ms]=Pemasang untuk Linux GXDE
Name[ms]=Pasang GXDE
Comment[nl]=Linux GXDE-installatieprogramma
Name[nl]=GXDE installeren
Comment[es_419]=Instalador para Linux GXDE
Name[es_419]=Instalar GXDE
Comment[pl]=Instalator Linux GXDE
Name[pl]=Zainstaluj GXDE
Comment[pt]=Instalador de Linux GXDE
Name[pt]=Instalar GXDE
Comment[pt_BR]=Instalador para Linux GXDE
Name[pt_BR]=Instalar GXDE
Comment[ro]=Instalator Linux GXDE
Name[ro]=Instalarea GXDE
Comment[ru]=Установщик Linux GXDE
Name[ru]=Установить GXDE
Comment[sk]=Inštalátor pre Linux GXDE
Name[sk]=Inštalovať GXDE
Comment[sl]=Installer za Linux GXDE
Name[sl]=Namesti GXDE
Comment[tr]=Linux GXDE için Kurucu
Name[tr]=GXDE Kur
Comment[uk]=Встановлювач Linux GXDE
Name[uk]=Встановити GXDE
Comment[zh_CN]=Linux GXDE安装器
Name[zh_CN]=安装GXDE
Comment[zh_TW]=GXDE 作業系統安裝程式
Name[zh_TW]=安裝 GXDE
Comment[es_AR]=Instalador de Linux GXDE
Name[es_AR]=Instalar GXDE
Comment[en_AU]=Linux GXDE Installer
Name[en_AU]=Install GXDE
Comment[es_ES]=Instalador de Linux GXDE
Name[es_ES]=Instalar GXDE
